h1,h2,h3{ 
color:red;
background-color:yellow;
text-align:center;
}

.test1{
color:white;
background-color:red;
}

.textcenter{
text-align:center;
}

#demo1{
color:white;
background-color:green;
}

.box{
width:200px;
height:200px;
background-color:LightGray;
}

.box h4, .box h5{
color:yellow;
font-size:30px;
}

h6.mydiv{
background-color:black;
color:white;
text-transform:uppercase;
}

	  
	  